<h1>Inventory <%= link_to image_tag("addnew.png"), new_item_path, :class => "add-to-button" %></h1>
<div class="search-form">
  <%= form_tag(items_path, :method => "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<table id="content">
    <th>Item</th>
    <th>Quantity</th>
    <th>Status</th>
    <th><%= link_to "Category", categories_path %></th>
    <th><%= link_to "Location", locations_path %></th>

  <% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, item %></td>
    <td><%= item.quantity %></td>
    <td><%= item.status %></td>
    <td>
      <% if item.category %>
        <%= link_to item.category.name, item.category %>
      <% else %>
        No category
      <% end %>
    </td>
    <td>
      <% if item.location %>
        <%= link_to item.location.name, item.location %>
      <% else %>
        No location
      <% end %>
    </td>
    <td><%= link_to image_tag("Edit.png"), edit_item_path(item), method: :get %><%= link_to image_tag("Delete.png"), item, method: :delete,
                                                  data: { confirm: "Are you sure?" } %></td>

  </tr>
<% end %>
</table>
<div class="add-new-on-index">
    <%= form_for(@item) do |f| %>
    <div class="mobile-add-new">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="mobile-add-new">
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
    <div class="mobile-add-new">
      <%= f.label :status %>
      <%= f.text_field :status %>
    </div>
    <div class="mobile-add-new">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>
    <div class="mobile-add-new">
      <%= f.label :location %>
      <%= f.collection_select :location_id, Location.all, :id, :name  %>
    </div>
    <div class="mobile-add-new">
      <%= f.submit "Submit" %>
    </div>
    <% end %>
</div>

<script>$('#content').stacktable();</script>





