<h1>Add new category</h1>

<div>
  <%= form_for(@category) do |f| %>
    <fieldset>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </fieldset>
    <fieldset>
      <%= f.submit "Submit" %>
    </fieldset>
  <% end %>
</div>

<div class="add-new"><%= link_to "Cancel", categories_path %></div>
