<h1>Edit a location</h1>
  <div>
    <%= form_for(@location) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit %>
    <% end %>
  </div>

  <div class="add-new"><%= link_to "Cancel", locations_path %></div>


