<h1>
  All Locations
  <%= link_to image_tag("addnew.png"), new_location_path, :class => "add-to-button" %>
</h1>
<div>
  <% @locations.each do |location| %>
    <ul>
      <li>
        <%= link_to location.name, location %> (<%= location.items.count %>)
        <%= link_to "Edit", edit_location_path(location), method: :get %> |
        <%= link_to "Delete", location, method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    </ul>
  <% end %>
</div>
