<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" href="<%= image_url('app-icon-60.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= image_url('app-icon-120.png') %>" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="<%= image_url('app-icon-180.png') %>" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="<%= image_url('app-icon-76.png') %>"  sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="<%= image_url('app-icon-152.png') %>" sizes="152x152">

</head>
<body>
  <ul class='header'>
      <li class='home-icon'><%= link_to image_tag("home.png"), root_path %></li>
      <li class='category-icon'><a href="#">Categories</a></li>
      <li class='location-icon'><a href="#">Locations</a></li>
  </ul>
<div style="clear: both;"></div>
<div class='parent'>
  <div class='category-dropdown'>
    <ul>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category %>
      </li>
    <% end %>
    </ul>
  </div>
  <div class='location-dropdown'>
    <% @locations.each do |location| %>
    <ul>
      <li>
        <%= link_to location.name, location %>
      </li>
    </ul>
    <% end %>
  </div>
</div>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>


